.btn[data-v-6a160fbc]{margin:0 auto;width:100%}.card-img-top[data-v-36fd5312]{margin:0 auto;max-width:15rem;max-height:15rem;padding-top:20px}.card .btn[data-v-36fd5312]{width:100%}.card-title[data-v-36fd5312]{border-radius:1.3rem;background:#5cb85c;text-align:center;padding:2px}